*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

.wrapper{
    background: #000;
    position: relative;
    width: 10.80rem;
    height: 15.52rem;
    margin: 0 auto;
}

.img-bg{
    width: 100%;
    height: 100%;
}

.panel{
    margin-top:  -118%;
    width: 100%;
    height: 100%;
    font-family:'NSimSun'
}
.content {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.7rem;
    font-weight: bolder;
    color: #3f99be;
    font-family:'NSimSun'
}
.left{
    width: 10%;
    margin-top: -.3rem;
}
.center{
 
    /* word-break: break-word; */
}
.right{
    width: 10%;
    margin-top: 1.6rem;
}
.author{
    margin-top: .6rem;
    width: 100%;
    height: 10%;
    text-align: right;
    
}
.author-txt{
    margin-right: 11%;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #3f99be;
}
.from{
    width: 100%;
    height: 4%;
    text-align: right;
    margin-top: 33%;
    color: #3f99be;
    font-size: .4rem;
    font-family:'NSimSun';
    font-weight: bold;
}
.from-txt{
    margin-right: 1.2rem;
    
    
}
.from-bottom-pal{
    width: 100%;
    height: 4%;
    margin-top: 2%;
    color: #85706c;
    font-size: .38rem;
}
.from-bottom{
    width: 9rem;
    margin-left: 1.4rem;
    text-align: left;

}
.from-bottom-compose{
    font-weight: bold;
}
.from-bottom-date{
    margin-left: 3.7rem;
    font-weight: bold;
}

.bottom-block{
    display: inline-block;
    
}